*{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 66%;
    border-bottom: solid black;
}

.text-holder{
    text-align: center;
}

.image-list-holder{
    width: 25%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: block;
    text-align: center;
}
        
.image-list{
    list-style: none;
}
        
.display-img{
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.7s;
    mix-blend-mode: luminosity;
}

.display-img-holder:hover .display-img{
    opacity: 0.7;
    transform: scale(1.2);
}

.display-img-holder:hover figcaption{
    opacity: 1;
}

.display-img-holder:hover figcaption p{
    transform: translateY(100px)
}
        
.display-img-holder{
    padding: 0px;
    width: 90%;
    height: 350px; 
    overflow: hidden;
    margin:0px auto 25px auto;
    background: grey;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

        
.image-button{
    margin-top: 10px;
    width: 45%;
    height: 75%;
    font-size: 16px;
    margin: auto;
}

.image-button:hover{
    height: 100%;
    font-size: 20px;
}
        
.button-holder{
    height: 30px;
}
        
.section{
    text-align: center;
    display: block;
    float:left;
    width: 100%;
}
        
.section-header{
    margin: 20px;
}

.nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    /*mix-blend-mode: overlay;*/
}

.nav-bar-links{
    float:right; 
    border-left: 1px solid #bbb
}

.nav-bar-links .nav-link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 20px;
}

.nav-bar-links .nav-link:hover:not(.active) {
    background-color: #111;
    transition: 0.7s;
}

.active {
    background-color: lightblue;
}


.display-img-holder figcaption {
    color: white;
    display: table;
    height: 20px;
    width: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    transition: all 0.7s;
}

.display-img-holder figcaption p {
    display: table-cell;
    top: -200px;
    width: 200px;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    transition: all 0.7s;
}


#opening-image{
    height: 100%;
}

#image-text-holder{
    padding-top: 40vh;
    padding-bottom: 40vh;
}

#image-text{
    font-size: 100px;
}

#logo{
    display: block;
    width: 20%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 50px;
}

.list-left{
    float: left;
}
        
.list-right{
    float: right;
}
        
